In [1]:
import pandas as pd
import numpy as np

In [2]:

delivery = pd.read_csv('deliveries.csv')
match = pd.read_csv('matches.csv')

In [3]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [4]:
match.head(2)

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri

In [5]:
delivery.drop(columns=['extra_runs','batsman_runs','extras_type','batter','bowler','non_striker','dismissal_kind','fielder'], inplace=True)

In [6]:
delivery.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,NaN

In [7]:
match.drop(columns=['player_of_match','date','match_type','toss_winner','toss_decision','super_over','umpire1','umpire2'], inplace=True)

In [8]:
match.head(2)

,id,season,city,venue,team1,team2,winner,result,result_margin,target_runs,target_overs,method
0,335982,2007/08,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140.0,223.0,20.0,NaN
1,335983,2007/08,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,runs,33.0,241.0,20.0,NaN

In [9]:
match.shape

(1095, 12)

In [10]:
match = match[match['method'] != 'D/L']

In [11]:
match.shape

(1074, 12)

In [12]:
match.drop(columns=['method','target_overs'],inplace=True)

In [13]:
match.shape

(1074, 10)

In [14]:
match.head(2)

,id,season,city,venue,team1,team2,winner,result,result_margin,target_runs
0,335982,2007/08,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,runs,140.0,223.0
1,335983,2007/08,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,runs,33.0,241.0

In [15]:
delivery.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,1,0,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,0,0,NaN

In [16]:
match['team1'].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

In [17]:
match.replace('Delhi Daredevils', 'Delhi Capitals', inplace=True)
delivery.replace('Delhi Daredevils', 'Delhi Capitals', inplace=True)

match.replace('Kings XI Punjab', 'Punjab Kings', inplace=True)
delivery.replace('Kings XI Punjab', 'Punjab Kings', inplace=True)

match.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru', inplace=True)
delivery.replace('Royal Challengers Bangalore', 'Royal Challengers Bengaluru', inplace=True)

match.replace('Deccan Chargers', 'Sunrisers Hyderabad', inplace=True)
delivery.replace('Deccan Chargers', 'Sunrisers Hyderabad', inplace=True)

match.replace('Gujarat Lions', 'Gujarat Titans', inplace=True)
delivery.replace('Gujarat Lions', 'Gujarat Titans', inplace=True)

In [18]:
match['team1'].unique()

array(['Royal Challengers Bengaluru', 'Punjab Kings', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Gujarat Titans',
       'Rising Pune Supergiants', 'Rising Pune Supergiant',
       'Lucknow Super Giants'], dtype=object)

In [19]:
match.shape

(1074, 10)

In [20]:
delivery.shape

(260920, 9)

In [21]:
teams_to_remove = ['Kochi Tuskers Kerala', 'Rising Pune Supergiant', 'Pune Warriors', 'Rising Pune Supergiants','Pune Warriors']

# Remove rows from match
match = match[~match['team1'].isin(teams_to_remove) & ~match['team2'].isin(teams_to_remove) & ~match['winner'].isin(teams_to_remove)]

# Remove rows from delivery
delivery = delivery[~delivery['batting_team'].isin(teams_to_remove) & ~delivery['bowling_team'].isin(teams_to_remove)]

In [22]:
delivery['batting_team'].unique()

array(['Kolkata Knight Riders', 'Royal Challengers Bengaluru',
       'Chennai Super Kings', 'Punjab Kings', 'Rajasthan Royals',
       'Delhi Capitals', 'Mumbai Indians', 'Sunrisers Hyderabad',
       'Gujarat Titans', 'Lucknow Super Giants'], dtype=object)

In [23]:
match.head()

,id,season,city,venue,team1,team2,winner,result,result_margin,target_runs
0,335982,2007/08,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Kolkata Knight Riders,runs,140.0,223.0
1,335983,2007/08,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,runs,33.0,241.0
2,335984,2007/08,Delhi,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Delhi Capitals,wickets,9.0,130.0
3,335985,2007/08,Mumbai,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Royal Challengers Bengaluru,wickets,5.0,166.0
4,335986,2007/08,Kolkata,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,wickets,5.0,111.0

In [24]:
match['run_scored']=match['target_runs']-1

In [25]:
match.head(2)

,id,season,city,venue,team1,team2,winner,result,result_margin,target_runs,run_scored
0,335982,2007/08,Bangalore,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Kolkata Knight Riders,runs,140.0,223.0,222.0
1,335983,2007/08,Chandigarh,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,runs,33.0,241.0,240.0

In [26]:
new=pd.merge(delivery,match[['id','city','run_scored','target_runs','winner']] , left_on=['match_id'], right_on=['id'], how='left')

In [27]:
new=new[new['inning']==2]

In [28]:
new.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed,id,city,run_scored,target_runs,winner
124,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,NaN,335982.0,Bangalore,222.0,223.0,Kolkata Knight Riders

In [29]:
new['current_score']=new.groupby(['match_id'])['total_runs'].cumsum()

In [30]:
new['run_left']=new['target_runs']-new['current_score']

In [31]:
new['ball_left']=120-(new['over']*6+new['ball'])

In [32]:
new.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed,id,city,run_scored,target_runs,winner,current_score,run_left,ball_left
124,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,NaN,335982.0,Bangalore,222.0,223.0,Kolkata Knight Riders,1,222.0,119
125,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0,NaN,335982.0,Bangalore,222.0,223.0,Kolkata Knight Riders,2,221.0,118

In [33]:
new['player_dismissed']= new['player_dismissed'].fillna('0')
new['player_dismissed']=new['player_dismissed'].apply(lambda x:x if x== '0' else '1')
new['player_dismissed']=new['player_dismissed'].astype(int)
wickets=new.groupby('match_id')['player_dismissed'].cumsum()
new['wickets_left']=10-wickets

In [34]:
new.head(1)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed,id,city,run_scored,target_runs,winner,current_score,run_left,ball_left,wickets_left
124,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,0,335982.0,Bangalore,222.0,223.0,Kolkata Knight Riders,1,222.0,119,10

In [35]:
new['crr']= new['current_score']*6/new['ball_left']
new['rrr']=new['run_left']*6/new['ball_left']

In [36]:
new.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed,id,city,run_scored,target_runs,winner,current_score,run_left,ball_left,wickets_left,crr,rrr
124,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,0,335982.0,Bangalore,222.0,223.0,Kolkata Knight Riders,1,222.0,119,10,0.050420,11.193277
125,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0,0,335982.0,Bangalore,222.0,223.0,Kolkata Knight Riders,2,221.0,118,10,0.101695,11.237288

In [37]:
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

In [38]:
new['result']=new.apply(result,axis=1)

In [39]:
new=new[new['ball_left']!=0]

In [40]:
new.head(2)

,match_id,inning,batting_team,bowling_team,over,ball,total_runs,is_wicket,player_dismissed,id,...,run_scored,target_runs,winner,current_score,run_left,ball_left,wickets_left,crr,rrr,result
124,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,1,1,0,0,335982.0,...,222.0,223.0,Kolkata Knight Riders,1,222.0,119,10,0.050420,11.193277,0
125,335982,2,Royal Challengers Bengaluru,Kolkata Knight Riders,0,2,1,0,0,335982.0,...,222.0,223.0,Kolkata Knight Riders,2,221.0,118,10,0.101695,11.237288,0

In [42]:
new['city'].unique()

array(['Bangalore', 'Chandigarh', 'Delhi', 'Mumbai', 'Kolkata', 'Jaipur',
       'Hyderabad', 'Chennai', nan, 'Cape Town', 'Port Elizabeth',
       'Durban', 'Centurion', 'East London', 'Johannesburg', 'Kimberley',
       'Bloemfontein', 'Ahmedabad', 'Cuttack', 'Nagpur', 'Dharamsala',
       'Visakhapatnam', 'Pune', 'Raipur', 'Ranchi', 'Abu Dhabi', 'Rajkot',
       'Kanpur', 'Bengaluru', 'Indore', 'Sharjah', 'Dubai', 'Navi Mumbai',
       'Lucknow', 'Guwahati', 'Mohali'], dtype=object)

In [ ]:
final=new[['batting_team','bowling_team','city','run_left','ball_left','target_runs','crr','rrr','result']]

In [ ]:
final.head(2)

,batting_team,bowling_team,city,run_left,ball_left,target_runs,crr,rrr,result
124,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,222.0,119,223.0,0.050420,11.193277,0
125,Royal Challengers Bengaluru,Kolkata Knight Riders,Bangalore,221.0,118,223.0,0.101695,11.237288,0

In [ ]:
# saved data as csv file 
# it is in comments so no new folder can create 

# final.to_csv('final.csv')

In [ ]:
# shuffled the data so model should not be biased

final=final.sample(final.shape[0])

In [ ]:
final.head()

,batting_team,bowling_team,city,run_left,ball_left,target_runs,crr,rrr,result
204553,Lucknow Super Giants,Royal Challengers Bengaluru,Kolkata,108.0,51,208.0,11.764706,12.705882,0
185364,Delhi Capitals,Chennai Super Kings,Dubai,74.0,74,137.0,5.108108,6.000000,1
149193,Punjab Kings,Sunrisers Hyderabad,Chandigarh,26.0,23,151.0,32.608696,6.782609,1
128668,Sunrisers Hyderabad,Gujarat Titans,Kanpur,84.0,66,155.0,6.454545,7.636364,1
59858,Kolkata Knight Riders,Chennai Super Kings,Chennai,23.0,19,140.0,36.947368,7.263158,1

In [ ]:
# final.to_csv('final_shuffled.csv')